#!/bin/sh


# Provide an API key. Docs for creating one at
# https://cloud.ibm.com/docs/account?topic=account-userapikey#create_user_key.
export IC_API_KEY="kxUE3hx4WoejNHQlSlw6bdKYN9CMWLQs_zsMlp1xc7D6"

export CLUSTER_NAME=patrocinio-684